  

MYSQL_DATABASE=database_name
MYSQL_USER=database_user
MYSQL_PASSWORD=database_password
MYSQL_ROOT_PASSWORD=database_root_password

# Django Environment Variables
DJANGO_SECRET_KEY=your_secret_key_here
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 django nginx

# phpMyAdmin
PMA_HOST=db
PMA_PORT=3306
PMA_ARBITRARY=1
